/**********Premiere couleur******/
$colour-primary: #FF79DA;

/**********Premiere couleur éclaircie de 20%******/
$colour-primary-light: #d980b3;

/**********Deuxieme couleur******/
$colour-secondary: #9356DC;

/**********Deuxieme couleur éclaircie de 20%******/
$colour-secondary-light: #f5edff;

/**********Couleur de font**************/
$colour-background: #f6f6f6;

/*********les Verts*****************/
$colour-mint: #99E2D0;
$colour-tag: #008766 ;



/*****************************/
/*******BREAKPOINTS***********/
/*****************************/
 $breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
 );

/**********************/
/*******TIME***********/
/**********************/
$step: 200ms;