@charset "UTF-8";
/****************************/
/**** Charged each time *****/
/****************************/
/**********Premiere couleur******/
/**********Premiere couleur éclaircie de 20%******/
/**********Deuxieme couleur******/
/**********Deuxieme couleur éclaircie de 20%******/
/**********Couleur de font**************/
/*********les Verts*****************/
/*****************************/
/*******BREAKPOINTS***********/
/*****************************/
/**********************/
/*******TIME***********/
/**********************/
/********************MEDIA QUERIES***************/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  min-width: 0;
}

body {
  font-family: "roboto";
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

main {
  margin: 0;
  width: 100%;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}

ul, ol, li, figure {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button, input {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  font-style: inherit;
  text-decoration: inherit;
}

/******* POLICES ECRITURE*********/
/*********************************/
/***************************/
/*********HOME HEADER*******/
/***************************/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
.header__logo {
  font-family: "Shrikhand";
  font-size: 1.9rem;
  padding: 20px 0 10px 0px;
  background-color: white;
  width: 100%;
}

/*********************************/
/*********RESTAURANT HEADER*******/
/*********************************/
.pageHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.pageHeader .header__logo {
  position: absolute;
  z-index: -1;
  padding: 0;
}

.backhome {
  height: 4rem;
  width: 4rem;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 0;
}

/****************************************************/
/********************FOOTER**************************/
/****************************************************/
.footer {
  background-color: #353535;
  color: white;
  padding: 1.5rem;
}
.footer .footer__logo {
  font-family: "Shrikhand";
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.footer .footer__link {
  display: flex;
  padding: 0.3rem;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
}

@media screen and (min-width: 992px) {
  footer ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
  }
}

footer i {
  margin-right: 1rem;
}

.fa-hands-helping {
  font-size: 0.7rem;
}

/*Components*/
.btn {
  padding: 1.3rem;
  position: relative;
  border-radius: 30px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  z-index: 0;
  font-weight: bold;
  color: white;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.btn:hover::after {
  opacity: 0.3;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom right, #d980b3, #f5edff);
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms;
}
.btn--page {
  padding: 1.3rem 4rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 3rem;
}

/**********************/
/*** loader 4 balls ***/
/**********************/
html,
body {
  height: 100%;
}

.opening {
  height: 100vh;
  width: 100%;
  background-color: #1d1f20;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  align-items: center;
  animation: appear 3s 250ms forwards;
}

.loader {
  animation: rotate 2s infinite;
  height: 50px;
  width: 50px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #9356DC;
  box-shadow: 30px 0 0 #97bf0d;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #FF79DA;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader:before, .loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}
@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #99E2D0;
  }
  50% {
    box-shadow: 0 0 0 #99E2D0;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #99E2D0;
    margin-bottom: 10px;
  }
}
@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #f5edff;
  }
  50% {
    box-shadow: 0 0 0 #f5edff;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f5edff;
    margin-top: 0;
  }
}
@keyframes appear {
  0% {
    opacity: 1;
    display: flex;
  }
  80% {
    opacity: 1;
  }
  99% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/****************************************************/
/**************** HEART ANIMATION *******************/
/****************************************************/
.heart {
  width: 2.2rem;
  height: 2.2rem;
  z-index: 0;
  position: relative;
  overflow: hidden;
  transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.heart:hover .full-heart {
  opacity: 1;
}

.fa-heart {
  font-size: 1.8rem;
}

.contour-heart {
  font-size: 1.8rem;
  background-clip: content-box;
  position: absolute;
  transition: 0.6s;
}

.full-heart {
  font-size: 2.1rem;
  position: absolute;
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.6s;
  opacity: 0;
}

/********* Page ***********/
/****************************************************/
/**********************SEARCH BAR********************/
/****************************************************/
.search {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.search input {
  font-size: 1.1rem;
  font-family: "roboto";
  font-weight: 500;
}

.city {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  padding-left: 1rem;
  font-weight: bold;
}
.city__icon {
  padding-right: 1rem;
  font-size: 1.2rem;
}

/****************************************************/
/*******************ABOUT SECTION********************/
/****************************************************/
.baseline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 3rem;
  margin-bottom: 2.5rem;
}
.baseline__title {
  font-weight: bold;
  font-size: 1.5em;
  padding: 2rem 4rem 1rem 4rem;
}
.baseline__description {
  opacity: 60%;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

/****************************************************/
/****************SECTION FONCTIONNEMENT**************/
/****************************************************/
.fonction {
  margin: 0;
}
.fonction .section__title {
  margin-left: 1.5rem;
}

.section__title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

i {
  font-family: "Roboto";
  font-style: normal;
}

.fa-mobile-alt {
  font-size: 1.2rem;
}

.liste {
  margin: 1rem;
  padding-right: 1rem;
}
@media screen and (max-width: 576px) {
  .liste {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
@media screen and (min-width: 992px) {
  .liste {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
  }
}
.liste__item {
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: 0.5rem;
  gap: 2rem;
  width: 100%;
  background-color: #f6f6f6;
  padding: 1.5rem 0;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.liste__item__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 25px;
  flex-shrink: 0;
  position: relative;
  right: 0.5rem;
  background-color: #9356dc;
  color: white;
}
.liste__item p {
  font-weight: 600;
}
.liste__item__icon {
  color: grey;
}
.liste__item:hover {
  background-color: #f5edff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.liste__item:hover .liste__item__icon {
  color: #9356DC;
}

/****************************************************/
/****************SECTION RESTAURANTS*****************/
/****************************************************/
.restaurantsList {
  background-color: #f6f6f6;
  padding: 3rem 1.5rem;
}

.container {
  gap: 1rem;
}
@media screen and (max-width: 576px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.card {
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.card__image img {
  height: 175px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.card__details {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  border-radius: 0 0 20px 20px;
}
.card__title {
  font-weight: bold;
  padding-bottom: 0.2rem;
}
.card__image {
  position: relative;
}
.card__tag {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #99E2D0;
  color: #008766;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

/*# sourceMappingURL=main.css.map */
