/****************************************************/
/****************COEUR ANIMATION*****************/
/****************************************************/
.coeur {
  width: 2rem;
  height: 2rem;
  z-index: 0;
  position: relative;
  overflow: hidden;
  transition: 0.6s;
  border: blue 1px solid;
}
.fa-heart{
  font-size: 1.8rem;
}
.contour-heart{
  opacity: 0;
  background:  linear-gradient(#FF79DA, #9356DC);
  font-size: 1.8rem;
  position: absolute;
  transition: 0.6s;
  left: 0;

}
.coeur:hover .contour-heart{
  opacity: 1;

}

/****************animation pas validee***************
.full-heart {
  font-size: 1.6rem;
  color: $colour-secondary;
  position: relative;
  top: -1.7rem;
  z-index: -2;
}
.coeur::before {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background: #f6f6f6;
  transition: all 1s;
  z-index: -1;
  top: 0rem;
  position: absolute;
}

.coeur:hover::before {
  top: -4rem;
}
*****************************************/
.menu-list__item:hover{

  .menu-list__item__price{
  
  transform: translate(-7.5rem, 0) ;
  }
 
  .checkbox{
    transform: rotate(360deg);
  }
}