/****************************************************/
/**************** HEART ANIMATION *******************/
/****************************************************/
.heart {
  width: 2rem;
  height: 2rem;
  z-index: 0;
  position: relative;
  overflow: hidden;
  transition: 0.6s;
  cursor: pointer;
}
.fa-heart {
  font-size: 1.8rem;
}
.contour-heart {
  font-size: 1.8rem;
  background-clip: content-box;
  position: absolute;

  transition: 0.6s;
}
.full-heart {
  font-size: 1.8rem;
  position: absolute;

  background: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.6s;
  opacity: 0;
}
.heart:hover .full-heart {
  opacity: 1;
}

/****************************************************/
/**************** CHECKBOX ANIMATION ****************/
/****************************************************/

.menu-list__item:hover {
  .dish__validation {
    
    margin-right: 0rem;
    transition: all 0.6s;
  }
  .checkbox {
    transform: rotate(360deg);
  }
}

/****************************************************/
/***************DISHES FADEIN ANIMATION**************/
/****************************************************/
@keyframes fadein {
  0% {opacity: 0;
    transform: translateY(30px);
  } 
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
