.btn{
    padding: 1.3rem;
    border-radius: 30px;
    background: linear-gradient($colour-primary, $colour-secondary);
    font-weight: bold;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}


.btn-pages {
    padding: 1.3rem 4rem;
    border-radius: 30px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 15em;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
    margin-bottom: 4rem;
    margin-top: 3rem;
}
