


/****************************************************/
/**********************SEARCH BAR********************/
/****************************************************/
.search {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.1);
}
.search input {
  font-size: 1.1rem;
  font-family: "roboto";
  font-weight: 500;
}
.city {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  padding-left: 1rem;
  font-weight: bold;
  &__icon {
    padding-right: 1rem;
    font-size: 1.2rem;
  }
}

/****************************************************/
/*******************ABOUT SECTION********************/
/****************************************************/
.baseline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 3rem;
  margin-bottom: 2.5rem;
  &__title {
    font-weight: bold;
    font-size: 1.5em;
    padding: 2rem 4rem 1rem 4rem;
  }
  &__description {
    opacity: 60%;
    margin-bottom: 2rem;
    padding: 0 2rem;
  }
}

/****************************************************/
/****************SECTION FONCTIONNEMENT**************/
/****************************************************/
.fonction {
  margin: 0;
  .section__title {
    margin-left: 1.5rem;
  }
}
.section__title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

i {
  font-family: "Roboto";
  font-style: normal;
}
.fa-mobile-alt {
  font-size: 1.2rem;
}
.liste {
  margin: 1rem;
  padding-right: 1rem;
  @include mobile-only {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 2rem;
  }
  &__item {
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 0.5rem;
    gap: 2rem;
    width: 100%;
    background-color: #f6f6f6;
    padding: 1.5rem 0;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    &__number {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 25px;
      flex-shrink: 0;
      position: relative;
      right: 0.5rem;
      background-color: #9356dc;
      color: white;
    }
    p {
      font-weight: 600;
    }
    &__icon {
      color: grey;
    }
    &:hover {
      background-color: $colour-secondary-light;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
      .liste__item__icon {
        color: $colour-secondary;
      }
    }
  }
}

/****************************************************/
/****************SECTION RESTAURANTS*****************/
/****************************************************/
.restaurantsList {
  background-color: #f6f6f6;
  padding: 3rem 1.5rem;
}
.container {
  @include mobile-only {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  gap: 1rem;
}
.card {
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  &__image img {
    height: 175px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  &__details {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    border-radius: 0 0 20px 20px;
  }
  &__title {
    font-weight: bold;
    padding-bottom: 0.2rem;
  }
  &__image {
    position: relative;
  }
  &__tag {
    position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: $colour-mint;
  color: $colour-tag;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  }
}
