/****************************************************/
/****************SECTION FONCTIONNEMENT**************/
/****************************************************/
.fonction{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.sectionTitle{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1rem;

}

i {
    font-family: 'Roboto';
    font-style: normal;
}
.number{
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 25px;
    flex-shrink: 0;
    position: relative;
    right: 0.5rem;
    background-color: #9356DC;
    color: white;

}
.iphone , .liste{
width: 5%;
color: grey;
}
.store{
    width: 5%;
    color: grey;
}
.fonction .fas:hover{
    color: #9356DC;
}

/****************************************************/
/****************SECTION RESTAURANTS*****************/
/****************************************************/
.restaurantsList{
    background-color: #f6f6f6;
    padding: 3rem 1.5rem;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card{
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
}
.cardImage{
   overflow: hidden; 
   
}
.cardImage img{
    height: 175px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    
}
.underImage{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    border-radius: 0 0 20px 20px;
}

.cardTitle{
    font-weight: bold;
    padding-bottom: 0.2rem;
}