.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
.header__logo{
    font-family: 'Shrikhand';
    font-size: 2rem;
    padding: 1rem 0px;
    background-color: white;
    width: 100%;
    
    
}


/*********RESTAURANT HEADER*******/
/*********************************/
.pageHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.backhome{
    padding: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}